@model jobs.Models.ApplyForJob

@{
    ViewBag.Title = "DetailsOfJob";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

<h2>DetailsOfJob</h2>

<div>
    <h4>ApplyForJob</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Job.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.JobTitle)
        </dd>

  
        <dt>
           نص الرسالة
        </dt>

        <dd>
            @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.Message).ToString()))
        </dd>

        <dt>
           تاريخ الارسال
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplyDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("العودة الي قائمة الوظائف", "Get_JobsByUser")
</p>
